*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: red;
    transition: 0.5s;
}
body.active{
    background: rgb(92, 92, 92);
}
.container{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}
.blueBg{
    position: absolute;
    top: 60px;
    width: 100%;
    height: 420px;
    background: red;
    box-shadow: 2px 2px 30px black;
    display: flex;
    justify-self: uniset;
}
.blueBg .box{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.box.signin{
     background: dimgrey;
}
.blueBg .box h2{
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
}
.blueBg .box button{
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border: navajowhite;        
}
.formBx{
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 100%;
background: #fff;
z-index: 1000;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 2px 2px 30px black;
transition: 0.5s ease-in-out; 
overflow: hidden;
}
.formBx.active{
    left: 50%;
}
.formBx .form{
    position: absolute;
    left: 0; 
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}
.formBx .signinForm{
    transition-delay: 0.25s;
 }
.formBx.active .signinForm{
    left: -100%;
    transition-delay: 0s;
}
.formBx .signupForm{
    left: 100%;
    transition-delay: 0s;
}
.formBx.active .signupForm{
    left: 0;
    transition-delay: 0.25s;
}
.formBx .form form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formBx .form form h3{
     font-size: 1.5rem;
     color: #333;
     margin-bottom: 20px;
     font-weight: 500;
}
.formBx .form form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 2px inset black
}
.formBx .form form input[type="submit"]{
    background: red;
    border: none;
    color:black;
    max-width: 100px;
    cursor: pointer;
}
.formBx.active .signupForm input[type="submit"]{
          background: dimgrey;
}
.formBx .form form .forgot{
    color: dimgrey; 
}
div.form.signupForm{
    border: 2px inset dimgray;
}
div.form.signinForm{
    border: 2px inset aliceblue;
}
